{% extends 'base.html' %}


<h1 class="title">{% block title %} Students {% endblock %}</h1>

{% block content %}
<section class="section">
    <div class="container">
      {% for processo in processos %}
        <div>
          <p><b>#{{ processo.id }}</b></p>
          <p>{{ processo.categoria }}</p>
          
          <div class="box">
            <h4>{{ processo.nome }}</h4>
            <p>{{ processo.texto }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}